@charset "UTF-8";

body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    background-color: rgb(214, 213, 142)
}

h1#principal
{
    background-color: rgb(209, 208, 115);
    text-align: center;
    color: #042940
}

h1{
    color: rgb(210, 105, 30);
}

.basico{
    color: blueviolet;

}

.intermediario{
    color: crimson;

}

.avançado{
    color: darkgreen;

}